body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 768px) {
  .padding-btn {
    padding-top: 32px;
  }
}

.chat-message-pane {
  overflow-y: scroll;
  border: 1px solid #999999;
  height: 500px;
  padding: 5px 5px 0 5px;
}

.chat-message-pane .message {
  margin: 1px 0;
}

.user1 {
  color: blue;
}

.user2 {
  color: green;
}

.loginout {
  text-align: right;
}

body {
  padding-top: 10px;
}

.room-select {
  margin-bottom: 8px;
}